.trash/*

source/content/todo.md

source/content/Lore stuff/Regions/All These City-States (wip).md
source/content/Lore stuff/Regions/Antalian Hives (wip).md
source/content/Lore stuff/Regions/Burdum-Phubotabolamayas Shadow Zone (wip).md
source/content/Lore stuff/Regions/Dwarven Tunneled States of Burdum (wip).md
source/content/Lore stuff/Regions/Fragonborn Moorings (wip).md
source/content/Lore stuff/Regions/Goliath-Gnomic Commonwealth (wip).md
source/content/Lore stuff/Regions/Independent Isles of Hhwaii (wip).md
source/content/Lore stuff/Regions/Nagan Hunting Grounds (wip).md
source/content/Lore stuff/Regions/Orcan Territories (wip).md
source/content/Lore stuff/Regions/Shrimple Burrow (wip).md
source/content/Lore stuff/Regions/Wild Magic Anomaly Zone (wip).md
source/content/Lore stuff/Religions
source/content/Rule stuff/Species/Orcs and Half-orcs (xoxo).md
source/content/Rule stuff/Spells/Druidic Wiz.md
source/content/Rule stuff/Spells/The Wandering Shaman Bastian Kruhl.md
source/content/Rule stuff/Masteries (WIP).md